<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Rest APIs Test Automation Test Suite">

	<listeners>
		<listener class-name="com.rest.api.extentreportlistener.ExtentReporterNG" />
	</listeners>
	
	<test name="Rest APIs Test Cases">
		<classes>
			<class name="com.rest.api.test.GetAPITest"></class>
			<class name="com.rest.api.test.PostAPITest"></class>
			<class name="com.rest.api.test.PutAPITest"></class>
			<class name="com.rest.api.test.DeleteAPITest"></class>
			<class name="com.rest.api.test.PatchAPITest"></class>
		</classes>
	</test>
</suite>